<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>home page
        
    </p>
    <a href="{% url 'product-create' %}">Add Product</a>
    <a href="{% url 'product-list' %}">View Products</a>
    <br>
    <a href="{% url 'purchase-list-api' %}">view purchase api test purpose</a>
    <a href="{% url 'product-list-api' %}">view product api test purpose</a>
</body>
</html>
